
venv/Lib/site-packages/autopy/screen.cp38-win_amd64.pyd
venv/Lib/site-packages/autopy/mouse.cp38-win_amd64.pyd
venv/Lib/site-packages/autopy/key.cp38-win_amd64.pyd
venv/Lib/site-packages/autopy/color.cp38-win_amd64.pyd
venv/Lib/site-packages/autopy/bitmap.cp38-win_amd64.pyd
venv/Lib/site-packages/autopy/alert.cp38-win_amd64.pyd
venv/Lib/site-packages/autopy/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/autopy/__init__.py
venv/Lib/site-packages/autopy-4.0.0.dist-info/WHEEL
venv/Lib/site-packages/autopy-4.0.0.dist-info/top_level.txt
venv/Lib/site-packages/autopy-4.0.0.dist-info/REQUESTED
venv/Lib/site-packages/autopy-4.0.0.dist-info/RECORD
venv/Lib/site-packages/autopy-4.0.0.dist-info/METADATA
venv/Lib/site-packages/autopy-4.0.0.dist-info/LICENSE-MIT
venv/Lib/site-packages/autopy-4.0.0.dist-info/LICENSE-APACHE
venv/Lib/site-packages/autopy-4.0.0.dist-info/INSTALLER
